name: Android Build

on:
  push:
    branches: [ "main", "master" ] # Сіздің негізгі бұтағыңыз қалай аталатынына байланысты
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: set up JDK 11
        uses: actions/setup-java@v4
        with:
          [span_0](start_span)java-version: '11' # build.gradle файлындағы JavaVersion.VERSION_11 сәйкес[span_0](end_span)
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: wizzi-mobile-debug-apk
          path: app/build/outputs/apk/debug/*.apk
